* {
	margin: 10; 
	padding: 3; 
}


.nav li {
  display: inline;

}

body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
    margin-top:40px;
}
#header {
    top:0px;
    right:0;
    left:0;
    position:fixed;
    background: #eee;
    border:1px solid #ccc;
    padding: 0 10px 0 20px; 
}
#header h1 {
    margin: 0px;
    padding: opx;
    letter-spacing:2px;
}
#footer {
    padding: 0 10px;
    background:#EEE;
    bottom:0px;
    right:0px;
    left:0px;
    position:fixed;
}
#container {
    text-align: left;
    padding: 20px;
    width: 100%;
    background: #FFF;
}
#footer p {
    margin: 0;
    padding: 10px 0;
}
#page-wrap {
     width: 400px;
     margin: 0 auto;
}
ul
{
list-style-type: none;
}
