* {
	margin: 10; 
	padding: 4; 
}
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 250;
}
#page-wrap {
     width: 400px;
     margin: 0 auto;
}
#navcontainer ul { list-style-type: none; }
