* {
	margin: 10; 
	padding: 3; 
}
#header {
    top:0px;
    right:20px;
    left:20px;
    position:fixed;
    background: #eee;
    border:1px solid #ccc;
    padding: 0 10px 0 20px;
}
#header h1 {
    margin: 0px;
    padding: opx;
    font:18px "Plantagenet Cherokee";
    letter-spacing:2px;
}

.nav li {
  display: inline;

}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 250;
}
#page-wrap {
     width: 400px;
     margin: 0 auto;
}
ul
{
list-style-type: none;
}
